
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <ul class="nav justify-content-start" >
            <li class="nav-item" routerLinkActive="active">
              <a  class="nav-link navbar-brand" routerLink="/profiles">Home</a>
            </li>
          </ul>

      <ul class="nav justify-content-end">
        <li class="nav-item" routerLinkActive="active">
            <a  class="nav-link navbar-brand" >Hello, {{oneUser.name}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="../login" class="nav-link navbar-brand" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
</nav>

<div class="heading">
  <h1 style="display: inline;">{{oneUser.name}} </h1> <h3 style="display: inline;">  (@{{oneUser.username}})</h3>
</div>

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a mat-tab-link routerLink="/profile/{{oneUser._id}}/summary">Profile Details</a>
  <a mat-tab-link routerLink="/profile/{{oneUser._id}}/albums">User Albums</a>
  <a mat-tab-link routerLink="/profile/{{oneUser._id}}/posts">Posts</a>
  <!-- <a mat-tab-link routerLink="/profile/{{oneUser.id}}/summary">Profile Details</a>
  <a mat-tab-link routerLink="/profile/{{oneUser.id}}/albums">User Albums</a>
  <a mat-tab-link routerLink="/profile/{{oneUser.id}}/posts">Posts</a> -->
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>


