.heading{
    padding: 25px;
    margin-left: 30px;
}

.card-body{
    margin: 20px;
    padding: 15px;
}

mat-progress-spinner{
    position: relative;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.loader{
    height: 400px;
    width: 1250px;
}