
  .heading{
      padding: 25px;
      margin-left: 30px;
  }
  .summaryContainer{
    margin: 14px;
}
.card{
    background: rgb(172, 235, 100);
    padding: 10px;
    margin: 10px;
}

.mat-card {
    margin: 10px;
    padding: 16px;
    border-radius: 4px;
}

mat-progress-spinner{
    position: relative;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.loader{
    height: 400px;
    width: 1250px;
}