.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 450px;
    width: 800px;
  }

  .tab1{
    height: 20px;
    width: 60px;
    background: yellow;
  }

  tbody, td, tfoot, th, thead, tr {
    width: 3%;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    padding: 25px;
  }


  
  .heading{
    padding: 25px;
    margin-left: 30px;
}

mat-progress-spinner{
  position: relative;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

