<app-header></app-header>
<!-- <div class="loader"><mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner></div> -->
<div class="summaryContainer">

<div>

    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <table>
                        <tr>
                            <td><b>Email :</b> {{ data.email}}</td>
                            <td><b>Phone :</b> {{ data.phone}}</td>
                        </tr>
                        <!-- <p class="card-title">{{data.email}} {{data.phone}}</p> -->
                        <tr>
                            <td><b>Company Name :</b> {{ data.company}}</td>
                            <td><b>Website :</b> {{ data.website}}</td>
                        </tr>
                        <tr>
                            <td>
                                <p class="address"><b>Address :</b> street- {{ data.address.street}},suite- {{
                                    data.address.suite}}<br>city- {{ data.address.city}}<br>zipcode- {{
                                    data.address.zipcode}}</p>
                            </td>
                        </tr>

                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>



<app-footer></app-footer>