
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <ul class="nav justify-content-start" >
            <li class="nav-item" routerLinkActive="active">
              <a  class="nav-link navbar-brand" routerLink="/profiles">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a  class="nav-link navbar-brand" href="https://crud-api-js.herokuapp.com/">Add Users</a>
            </li>
          </ul>

      <ul class="nav justify-content-end">
        <li class="nav-item" routerLinkActive="active">
            <a  class="nav-link navbar-brand" >Hello, Aakash</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="../login" class="nav-link navbar-brand" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
</nav>
