.content{
    background: gold;
}
.cards{
    
}
.example-card {
    max-width: 400px;
    margin: 10px;
    background: rgb(69, 182, 235);
  }


.Avtar{
    height: 148px;
    width: 128px;
}
.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
}
.part1{
    width: 35%;
}
.part2{
    width: 65%;
}
.form-controls{
    display: inline;

}

.mainHeading{
    margin-left: 25px;
    display: inline;
}

.main{
    display: flex;
    align-items: center;
}

.form-controls{
    margin-left: auto;
}

.search{
    border-radius: 25px;
    width: 400px;
    margin-right: 40px;
    height: 35px;
}

