<app-header></app-header>


<router-outlet></router-outlet>



<div class="content">
  <div class="main">
    <h1 class="mainHeading" >Profile</h1>
    
    <div class="form-controls">
      <div class="searches">
         <input type="text" class="searchT"  [(ngModel)]="searchValue" name="searchValue" type="search" placeholder="  search name, email, or company" aria-label="Search">
         <button type="submit" class="searchBut">
          <i class="bi bi-search"></i>
        </button>
      </div>
   </div>

    <!-- <div class="form-controls"><input class="search" [(ngModel)]="searchValue" name="searchValue" type="search" placeholder="  search name, email, or company" aria-label="Search"></div> -->
  </div>
 


    <div class="cards" fxLayout="row wrap" fxLayoutGap="grid 10px">
        <div fxFlex="33%" fxFlex.sm="48%"  fxFlex.xs="100%" *ngFor="let user of users | filter:searchValue ">
            
              <mat-card class="example-card">
                <mat-card-title-group>
                    <div class="part1">
                      <!-- <img class="Avtar" mat-card-xl-image src="https://picsum.photos/200/300?random=1" > -->
                      <img class="Avtar" mat-card-xl-image src="../../../../../assets/avatar/profile-icon.PNG" >
                    </div>
                    <div class="part2"> 
                  
                  <mat-card-title>{{user.name}}</mat-card-title>
                  <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
                  <mat-card-subtitle>{{user.phone}}</mat-card-subtitle>
                  <button routerLink="../profile/{{user._id}}">View Profile</button>
                    </div>
                </mat-card-title-group>
              </mat-card>
        </div>
    </div>
     <!-- Loader -->
 <div class="loader"> <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner></div>
</div>



<app-footer></app-footer>
