  <form class="modal-content animate" method="post" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="imgcontainer" >
      <h2>Login Form</h2>
    </div>

    <div class="container">
    <div>
      <label for="uname"><b>Email Address</b></label>
      <input type="text" placeholder="Enter Username" name="email" required  formControlName="email">
    </div>
    <div>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required formControlName="password">
    </div>  
      <button type="submit">Login</button>
    </div>


  </form>